/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  
  }
  section{
    height: 100VH;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  form {

    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  h2 {
    /* text-align: center; */
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 14a3 3 0 0 1-3 3"></path><path d="M17 11a6 6 0 0 0-6 6"></path><path d="M12 9a9 9 0 1 1-9 9"></path></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  .user {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
   
  }
 
  /* Styles pour les boutons de modification et de suppression */
.edit-btn,
.delete-btn,#show {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 8px 16px; /* Espacement intérieur */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur pointeur */
    margin-right: 8px; /* Marge à droite */
    border-radius: 4px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Animation de transition */
  
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

.delete-btn {
    background-color: #f44336; /* Couleur de fond pour suppression */
}

.delete-btn:hover {
    background-color: #d32f2f; /* Couleur de fond au survol pour suppression */
}
